@use 'constant/base.scss' as cst ;

/*---common--------------------------------------------*/
.customButton {
  img {
    width: 20px;
    height: auto;
  }

  .disabledClass {
    pointer-events: none;
  }
} 

// Two labels
.labelBox {
  overflow: hidden;
  max-height: var(--label-gap);

  label {
    line-height: var(--label-gap);
    text-align: center;
  }

  label:first-child {
    margin-bottom: var(--label-gap);
  }

  div {
    // cursor: pointer;
    transform: translateY(-33.33%);
    transition: transform .3s ease-in-out .3s;
    -o-transition: transform .3s ease-in-out .3s;
    -ms-transition: transform .3s ease-in-out .3s;
    -moz-transition: transform .3s ease-in-out .3s;
    -webkit-transition: transform .3s ease-in-out .3s;
  }
}

div.name-label {
  transform: translateY(0%);
  cursor: pointer;
}

div.key-label {
  transform: translateY(-66.66%);
  cursor: pointer;
}

/*---text----------------------------------------------*/
.textButton {
  font-family: cst.$quicksand; 
  padding: 0;
}

/*---cases---------------------------------------------*/
.caseContainer {
  row-gap: 25px;
}

#inversionLabel {
  column-gap: 6px;
}

.caseButton {
  box-shadow: -3.5px -3.5px 0 cst.$klein;
}

.unactiveButton {
  box-shadow: -3.5px -3.5px 0 cst.$medium;
  cursor: unset;

  &:hover{
    span {
      transition: transform 2s;
      transform: rotate(390deg);
    }
  }
}

/*---------phones--------------------------------------*/
@media only screen and (min-width: 1px) {
  #case-section {
    min-width: 100%;
    flex-direction: column;
    row-gap: 5rem;
  }

  .caseContainer {
    column-gap: 30px;
    width: 100%;
  }

  .caseButtonBase {
    border: none;
    width: max-content;
    min-width: 45px;
    height: 45px;

    span {
      font-family: cst.$RozhaOne;
      line-height: 0pt;
      font-size: 16pt;
    }
  }
}

@media only screen and (min-width: 330px) {
  .caseContainer {
    justify-content: space-between;
    column-gap: 10px;
  }
}

@media only screen and (min-width: 500px) {
  #case-section {
    row-gap: 3rem;
  }

  .caseContainer {
    justify-content: flex-start;
    column-gap: 20px;
    width: initial;
  }

  .caseButtonBase {
    min-width: 50px;
    height: 50px;
    padding: 10px;

    span {
      font-size: 18pt;
    }
  }
}

@media only screen and (min-width: 640px) {
  .caseContainer {
    column-gap: 25px;
  }
}

/*---------tablets-------------------------------------*/
@media only screen and (min-width: 768px) {
  .caseContainer {
    column-gap: 35px;
  }
}

/*---------desktops------------------------------------*/
@media only screen and (min-width: 1024px) {
  #case-section {
    min-width: 90vw;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1280px) {
  #case-section {
    min-width: 70vw;
  }
}

/*---actions-------------------------------------------*/
.actionContainer {
  column-gap: 1rem;
}

.actionButton {
  margin-bottom: .5rem;

  svg, img {
    width: 20px;
    height: auto;
    z-index: 1;
  }
}

/*---animation--------------------------------------------*/
.error-color path {
  animation: colorChangeError .7s ease-in-out;
}

.success-color path {
  animation: colorChangeSuccess .7s ease-in-out;
}

.success-color:active path, .error-color:active path {
  animation-name: none !important;
}

@keyframes colorChangeSuccess {
  0%, 1% {color: white;} 
  1%, 99% {color: cst.$success;}
  99%, 100% {color: white;}
}

@keyframes colorChangeError {
  0%, 1% {color: white;} 
  1%, 99% {color: cst.$error;}
  99%, 100% {color: white;}
}