@use 'constant/base.scss' as cst;

#editor-container {
  margin: 6rem 0 1rem 0;

  .DraftEditor-root .public-DraftEditor-content {
    min-width: 750px;
    min-height: 240px;
  }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px)
{

}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px)
{

}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px)
{
  #editor-container .DraftEditor-root .public-DraftEditor-content {
      min-width: 750px;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px)
{
  #editor-container .DraftEditor-root .public-DraftEditor-content {
      min-width: 750px;
  }
}


.editor {
  padding: 50px;
  border: none;
  font-size: 11pt !important;
}

.highlight {
  background-color: cst.$ocher;
}

.selectMode {
    *::selection {
    background: cst.$medium !important;
    text-shadow: none;
  }

    *::-moz-selection {
    background: cst.$medium !important;
    text-shadow: none;
  }
}