@use 'constant/base.scss' as cst;

#editor-container {
  margin: 6rem 0 1rem 0;

  .DraftEditor-root .public-DraftEditor-content {
    min-height: 250px;
  }
}

/*---------phones---------------------------------------------*/
@media only screen and (min-width: 1px)
{
  #editor-container {
    width: 100%;
    > div:first-child {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
}

@media only screen and (min-width: 500px)
{
  #editor-container {
    > div:first-child {
      flex-direction: initial;
      align-items: initial;
    }
  }
}

/*---------tablets---------------------------------------------*/
@media only screen and (min-width: 768px)
{
  #editor-container {width: 670px}
}

@media only screen and (min-width: 1024px)
{
  #editor-container {
    width: initial;

    .DraftEditor-root .public-DraftEditor-content {
      width: 650px;
    }
  }
}

/*---------desktops---------------------------------------------*/
@media only screen and (min-width: 1280px)
{
  #editor-container .DraftEditor-root .public-DraftEditor-content {
      width: 750px;
  }
}

@media only screen and (min-width: 1800px)
{
  #editor-container .DraftEditor-root .public-DraftEditor-content {
      width: 48vw;
      // min-height: 340px;
      min-height: 36vh;
  }
}

.editor {
  padding: 50px;
  border: none;
}

.highlight {background-color: cst.$ocher}

.selectMode {
    *::selection {
    background: cst.$medium !important;
    text-shadow: none;
  }

    *::-moz-selection {
    background: cst.$medium !important;
    text-shadow: none;
  }
}