@use 'constant/base.scss' as cst ;

input[type="text"] {
  border: none;
  min-height: 50px;
  padding: 0px 11px;
  font-size: 1em;
  margin-bottom: 3px;
}

input::placeholder, .placeholder {
  color: cst.$light-grey;
  font-style: italic;
  font-size: 1em;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 1px)
{
  #replacing-field {
    width: 100%;
    input {min-width: 70%}
  }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 330px)
{
  #replacing-field
  {
    width: initial;
    input {min-width: 230px}
  }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 500px)
{
  #replacing-field {
    align-self: flex-end;
  }
}