@use 'constant/base.scss' as cst ;

input[type="text"] {
  border: none;
  min-width: 230px;
  min-height: 50px;
  padding: 0px 11px;
}

input::placeholder, .placeholder {
  color: cst.$light-grey;
  font-style: italic;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}