@use 'constant/base.scss' as cst ;

#message-container {
    p {
    	padding: .7rem;
    	text-align: left;
    	max-width: 60%;
    }

    .close-btn {
        z-index: 1;
    }
}

.message-type {
    font-family: cst.$RozhaOne;
    // transform: rotate(90deg);
    // font-size: 16pt;;
}