// @use 'constant/base.scss' as cst ;

// [!] comme footer
#message-container {
    p {
    	padding: .7rem;
    	text-align: left;
    	max-width: 60%;
    }

    .close-btn {
        z-index: 1;
    }
}