@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Quicksand:wght@300..700&family=Rozha+One&display=swap');

$off-white	 : #FEFEFE;
$light-grey  : #CCCCCC;
$medium-grey : #999999;
$dark-green	 : #122221;
$light-green : #406A6B;
$clear-blue	 : #2943B9;
$klein 		 : #002FA7;
$light-orange: #E0A648;
$ocher: #908859;
$medium: #757767;
$success: green;
$warning: #FEA70B;
$error: red;

$lemonada : 'Lemonada', cursive;
$RozhaOne : 'Rozha One', cursive;
$quicksand : 'Quicksand', Roboto, Verdana, sans-serif;

:export {
	ocher:$ocher;
	klein:$klein;
	medium-grey:$medium-grey;
	medium:$medium;
	lightOrange:$light-orange;
}

:root {
  --label-gap: 1em;
  --fade-anchor-right: 3rem;
  --fade-anchor-left: -3rem;
}