@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Quicksand:wght@300..700&family=Rozha+One&display=swap');

$off-white	 : #FEFEFE;
$medium-grey : #999999;
$dark-green	 : #122221;
$light-green : #406A6B;
$clear-blue	 : #2943B9;
$klein 		 : #002FA7;
$light-orange: #E0A648;
$ocher: #908859;
// $ocher: #455a82;

$lemonada : 'Lemonada', cursive;
$RozhaOne : 'Rozha One', cursive;
$quicksand : 'Quicksand', Roboto, Verdana, sans-serif;

:export {
	ocher:$ocher;
	clear-blue:$clear-blue;
	klein:$klein;
}