@import 'constant/style.scss';

/*---base---------------------------------------------*/
.bb {
  box-sizing: border-box;
  border: red solid 1px;
}

.no-border {border: none;}

.m {
  padding: 20px
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
}

.none {
  display: none;
}

.fit-content {
  width: fit-content;
  height: fit-content;
}

/*.lemonada-btn {
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

.quicksand-font {
  font-family: $quicksand;
  font-size: 16px;
  // font-optical-sizing: auto;
}

.green-background {
  background-color: $light-green;
  border-radius: 3px;
}


*:focus {
  outline: none;
}

main {
  padding: 0px 95px;

  * {
    color: $off-white;
  }
}

/*---component----------------------------------------*/
.square-container {
  column-gap: 35px;

  #inversionText {
    column-gap: 6px;
  }
}

.squareButton {
  min-width: 64px;
  height: 64px;
  border: none;
  padding: 10px;
  box-shadow: -3.5px -3.5px 0 $klein;

  span {
    font-family: $RozhaOne;
    font-size: 22pt;
    line-height: 0pt;
  }
}

#replace-container {
  margin-top: 38px;

  button {
    background: none;
    border: none;
  } 

  img {
    width: 20px;
    height: auto;
  }
}

input[type="text"] {
  border: none;
  min-width: 239px;
  min-height: 64px;
  padding: 0px 11px;
}

input::placeholder {
  color: #EBEFEF;
  font-style: italic;
  opacity: .6;
}


.editor {
  margin: 51px 0;
  padding: 50px;
  border: none;
  width: 50vw;
  // min-height: 40vh;
  // height: 40vh;

  .placeholder {

    position: relative;

    p {
      color: #EBEFEF;
      font-style: italic;
      opacity: .6;
      position: absolute;
    }

  }
}

.highlight {
  background-color: $ocher;
}

*::selection {
  background: $klein !important;
  text-shadow: none;
}

*::-moz-selection {
  background: $klein !important;
  text-shadow: none;
}


/*---react--------------------------------------------*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}