/*---base---------------------------------------------*/
.bb {
  border: red solid 2px;
}

.no-border {border: none;}

/*.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/*.lemonada-btn {
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

/*.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

/*---react--------------------------------------------*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}